@import "tailwindcss";

/* Placeholder values for light mode*/
:root {
  --background: #171717;
  --primary: #202020;
  --secondary: #373737;
  --tertiary: #454545;
  --accent: #1e1aac;
  --stroke: #4e4e4e;
  --text-main: #edf2f7;
  --text-error: #FF484B;
  --text-success: #48FF69;
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #171717;
  --primary: #202020;
  --secondary: #373737;
  --tertiary: #454545;
  --accent: #1e1aac;
  --stroke: #4e4e4e;
  --text-main: #edf2f7;
  --text-error: #FF484B;
  --text-success: #48FF69;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-accent: var(--accent);
  --color-stroke: var(--stroke);
  --color-main: var(--text-main);
  --color-error: var(--text-error);
  --color-success: var(--text-success);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply mt-6 text-center text-2xl font-semibold text-main;
  }
  label {
    @apply block text-sm font-medium text-main;
  }
}

@layer authentication {
  .signin_signout_bg{
    @apply bg-background text-main my-12;
  }
  .error {
    @apply text-error text-sm text-center;
  }
  .placeholder_text {
    @apply mt-1 bg-secondary text-main appearance-none relative block w-full px-3 py-2 border border-secondary rounded-md focus:outline-none focus:ring-2 focus:ring-stroke focus:border-transparent;
  }
  .linktext_format{
    @apply font-normal text-accent hover:text-blue-700 transition-colors;
  }
  .loading {  
    @apply animate-spin rounded-full h-5 w-5 border-b-2 border-stroke;
  }
  .button_format {
    @apply flex justify-center items-center w-full px-3 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-main bg-accent hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent mx-auto cursor-pointer;
  }
  .showhide_password {  
    @apply absolute inset-y-0 right-0 pr-3 flex items-center text-sm text-main;
  }
} 

@layer sidebar {
    .sidebar_button {
    @apply flex items-center p-4 mx-2 gap-4 hover:bg-tertiary cursor-pointer rounded-md
  }
}

@layer Header {
    .profile_menu {
    @apply flex items-center p-4 mx-2 gap-4 hover:bg-tertiary cursor-pointer rounded-md
  }
}